{{ define "main" }}
	<span>
		<h1>{{ .Title }}</h1>

		{{ partial "post-meta" . }}
	</span>

	<p>
	    {{ .Content }}
	</p>
<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fblogsuperalex.netlify.com%2F&width=135&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId=1645704942403535" width="135" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
<a class="muut" href="https://muut.com/i/superalexblog/comments" type="dynamic">superalexblog</a>
<script src="//cdn.muut.com/1/moot.fr.min.js"></script>

{{ end }}
