{{ define "main" }}
	<span>
		<h1>{{ .Title }}</h1>

		{{ partial "post-meta" . }}
	</span>

	<p>
	    {{ .Content }}
	</p>
<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fblogsuperalex.netlify.com%2F&width=135&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId=1645704942403535" width="135" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

<span style="display:none;">***</span>
<script type="text/javascript" language="javascript" id="pnyxeDiscussItJs" src="https://www.pnyxe.shadow.com/PnyxeDiscussItJs.jsp"></script>
<script type="text/javascript" language="javascript" id="pnyxeDiscussItInitJs457357">try { var zpbw_webWidgetClientKey = "_JnnSBLZK_fUceLNP.1OqA"; var pnyxeDiscussIt = new PnyxeDiscussIt(); pnyxeDiscussIt.init("457357"); } catch (e) {}</script>
<noscript><a href="https://www.pnyxe.shadow.com/DiscussIt-comment-system?utm_source=wwcCodeSpanPromotion4" rel="nofollow">Discuss</a></noscript>

{{ end }}
