{{ define "main" }}
	<span>
		<h1>{{ .Title }}</h1>

		{{ partial "post-meta" . }}
	</span>

	<p>
	    {{ .Content }}
	</p>
<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&mobile_iframe=true&appId=1645704942403535&width=108&height=20" width="108" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
<a class="muut" href="https://muut.com/i/superalexblog/comments" type="dynamic">superalexblog</a>
<script src="//cdn.muut.com/1/moot.fr.min.js"></script>

{{ end }}
